<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jjackjjack.sopt.com.jjackjjack">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".DonateRecordActivity">
        </activity>
        <activity
                android:name=".DonatePaymentActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".DonateDetailedActivity">
        </activity>
        <activity android:name=".DonateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BerryChargeActivity">
        </activity>
        <activity android:name=".MyPageActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".login.BeginningActivity">
        </activity>
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity android:name=".login.SingUpActivity">
        </activity>
    </application>

</manifest>