<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jjackjjack.sopt.com.jjackjjack">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name=".network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".activities.GetBerryActivity">
        </activity>
        <activity android:name=".activities.mypage.MyPageNicknameModifyActivity">
        </activity>
        <activity android:name=".activities.mypage.MyPageModifyActivity">
        </activity>
        <activity android:name=".activities.donaterecord.DonateRecordStatusActivity">
        </activity>
        <activity android:name=".activities.donaterecord.DonateRecordActivity">
        </activity>
        <activity
                android:name=".activities.donate.DonatePaymentActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activities.donate.DonateDetailedActivity">
        </activity>
        <activity android:name=".activities.donate.DonateActivity">
        </activity>
        <activity android:name=".activities.berrycharge.BerryChargeActivity">
        </activity>
        <activity android:name=".activities.mypage.MyPageActivity">
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.BeginningActivity">
        </activity>
        <activity android:name=".activities.login.LoginActivity">
        </activity>
        <activity
                android:name=".activities.login.SignUpActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activities.rank.RankActivity">
        </activity>
        <activity android:name=".activities.berrycharge.DepositActivity">
        </activity>
        <activity android:name=".activities.berryuse.BerryHistoryActivity">
        </activity>
        <activity android:name=".activities.berryreview.BerryreviewActivity">
        </activity>
        <activity android:name=".activities.payment.PaymentActivity">
        </activity>
        <activity android:name=".activities.stamp.StampActivity">
        </activity>
    </application>

</manifest>